Source: lora-gateway
Section: net
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Build-Depends: debhelper (>= 10),
               libftdi-dev,
               libmpsse-dev
Standards-Version: 4.0.1
Homepage: https://github.com/TheThingsNetwork/lora_gateway
#Vcs-Git: https://anonscm.debian.org/collab-maint/lora-gateway.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/lora-gateway.git

Package: lora-gateway
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: core software to run a LoRaWAN gateway
 This package contains the core library, some utility libraries and
 helper scripts to build a gateway based on a Semtech LoRa
 multi-channel RF receiver (a.k.a. concentrator).
 .
 This package is focussed on running LoRaWAN gateways for the
 community network TheThingsNetwork and based on TheThingsNetwork's
 lora_gateway fork.
